# Class in OOP (Object Oriented Programming)

In [24]:
age = 28
print(type(age))

<class 'int'>

In [25]:
h = 5.6
print(type(h))

<class 'float'>

In [26]:
s = [9, 7, 8, 7, 5, 6]
print(type(s))

<class 'list'>

In [27]:
s.append(7)

In [28]:
s

[9, 7, 8, 7, 5, 6, 7]

## Creating custom class person

In [29]:
class Person:

    # Constructor function - define attributes of function
    def __init__(self, name, age, gender, occupation):
        self.name = name
        self.age = age
        self.gender = gender
        self.occupation = occupation

    # User Defined function
    def talk(self):
        print(f'Hi There my name is {self.name}')
        print(f'My age is {self.age}')
        print(f'I am {self.gender}')
        print(f'I work as {self.occupation}')

In [30]:
p1 = Person(name='Utkarsh', age=29, gender='Male', occupation='Data Scientist')

In [31]:
print(type(p1))

<class '__main__.Person'>

In [32]:
p1.name

'Utkarsh'

In [33]:
p1.age

29

In [34]:
p1.gender

'Male'

In [35]:
p1.occupation

'Data Scientist'

In [36]:
p1.talk()

Hi There my name is Utkarsh
My age is 29
I am Male
I work as Data Scientist

In [37]:
p2 = Person(name='Aditi', age=37, gender='Female', occupation='HR')

In [38]:
p2

In [39]:
p2.talk()

Hi There my name is Aditi
My age is 37
I am Female
I work as HR

### Create a class Bank account

![Alt text](image.png)

In [40]:
class account:

    # Add init constructor
    def __init__(self, ac_no, name, bal=0):
        self.ac_no = ac_no
        self.name = name
        self.bal  = bal

    # Function for Depositing money
    def deposit(self, amt):
        self.bal = self.bal + amt
        print(f'Balance of {amt} INR Deposited in Your Bank account number : {self.ac_no} ')
        print(f'Current Balance : {self.bal} INR')

    # Function to withdraw money
    def withdraw(self, amt):
        if self.bal >= amt:
            self.bal = self.bal - amt
            print(f'Amount of {amt} INR withdrawn from your bank account number : {self.ac_no}')
            print(f'Current Balance : {self.bal} INR')
        else:
            print(f'Insufficient Balance in account {self.ac_no}. Current Balance in your account is {self.bal} INR')

    # Function to transfer money
    def transfer(self, amt, ac2):
        if self.bal >= amt:
            self.bal = self.bal - amt
            ac2.bal = ac2.bal + amt
            print(f'Amount of {amt} INR Transferred to account number : {ac2.ac_no} from your account : {self.ac_no}')
            print(f'Current Balance : {self.bal} INR')
        else:
            print(f'Insufficient balance in account {self.ac_no}. Current balance in your account is {self.bal} INR')

In [41]:
a1 = account(ac_no=123, name='Sarthak Sharma', bal=5000)

In [42]:
print(type(a1))

<class '__main__.account'>

In [43]:
a1.ac_no

123

In [44]:
a1.name

'Sarthak Sharma'

In [45]:
a1.bal

5000

In [46]:
a1.deposit(2500)

Balance of 2500 INR Deposited in Your Bank account number : 123
Current Balance : 7500 INR

In [47]:
a1.bal

7500

In [48]:
a1.withdraw(1000)

Amount of 1000 INR withdrawn from your bank account number : 123
Current Balance : 6500 INR

In [49]:
a1.bal

6500

In [50]:
a1.withdraw(8000)

Insufficient Balance in account 123. Current Balance in your account is 6500 INR

In [51]:
a2 = account(ac_no=456, name='Raman Verma')

In [53]:
a2.ac_no

456

In [54]:
a2.name

'Raman Verma'

In [55]:
a2.bal

0

### Transferring money from ac1 to ac2

In [56]:
a1.bal

6500

In [57]:
a1.transfer(amt=500, ac2=a2)

Amount of 500 INR Transferred to account number : 456 from your account : 123
Current Balance : 6000 INR

In [58]:
a2.bal

500

In [59]:
a2.transfer(amt=1000, ac2=a1)

Insufficient balance in account 456. Current balance in your account is 500 INR

In [60]:
a2.transfer(amt=100, ac2=a1)

Amount of 100 INR Transferred to account number : 123 from your account : 456
Current Balance : 400 INR

In [61]:
a1.bal

6100

In [62]:
a2.bal

400

# Assignment for students
![Alt text](image-1.png)